@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
@import './sass/helpers/variables';

html {
    font-family: 'Manrope', Helvetica, sans-serif;
    font-size: 13px;
}

body {
    background-color: $light-grayish-blue;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 56rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 1px 5px 15px $grayish-blue;
    width: 325px;

    &__banner {
        width: 100%;
        height: 200px;
        margin: 0;
        border-radius: 10px 10px 0 0;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        position: relative;
        bottom: 17px;
        border-radius: 10px 10px 0 0;
        filter: brightness(108%);
    }

    &__info {
        width: 79%;
        margin: 35px auto 20px;
    }

    &__title {
        color: $dark-grayish-blue;
        line-height: 1.5;
        font-size: 1.25rem;
        font-weight: 700;
    }

    &__description {
        color: $soft-dark-blue;
        line-height: 1.6;
        font-weight: 400;
    }
}

.profile {
    width: 100%;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    background-color: $white;
    transition: background-color 0.2s ease-in-out;

    &--active {
        background-color: $dark-grayish-blue;
    }

    &__container {
        width: 80%;
        margin: 0 auto 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &--active {
            margin-bottom: 0;
        }
    }

    &__author {
        display: flex;
        align-items: center;

        &--hidden {
            display: none;
        }
    }

    &__photo {
        width: 39px;
        height: 39px;
        border-radius: 50%;
    }

    &__data {
        margin-left: 15px;
    }

    &__name {
        margin: 3px 0;
        color: $dark-grayish-blue;
        font-size: 1rem;
    }

    &__date {
        margin: 0;
        color: $grayish-blue;
        font-size: 1rem;
    }

    // Social newtworks styles
    &__social {
        display: none;

        &--active {
            display: flex;
        }
    }

    &__share {
        color: $grayish-blue;
        letter-spacing: 4px;
    }

    &__icons {
        width: 90px;
        margin-left: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.btn {
    width: 33px;
    height: 33px;
    margin-left: auto;
    background-color: $light-grayish-blue;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--active {
        background-color: $soft-dark-blue;
    }

    &__img {
        &--hidden {
            display: none;
        }

        &--active {
            display: block;
        }
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    padding-bottom: 15px;
    a { 
        color: hsl(228, 45%, 44%); 
    }
}

@media only screen and (min-width: 1024px) {
    .card {
        width: 735px;
        height: 285px;
        display: flex;

        &__banner {
            width: 40%;
            height: 100%;
            border-radius: 10px 0 0 10px;
        }

        &__img {
            width: 123%;
            height: 100%;
            position: static;
            border-radius: 10px 0 0 10px;
        }

        &__content {
            width: 60%;
            position: relative;
        }

        &__info {
            width: 80%;
            margin-top: 30px;
            margin-bottom: 20px;
        }

        &__title {
            letter-spacing: 0.5px;
            font-size: 1.5rem;
            margin-bottom: 5px;
        }
    }

    .profile {
        padding: 0;

        &__social {
            width: 50%;
            padding: 5px 15px;
            background-color: $dark-grayish-blue;
            border-radius: 10px;
            position: absolute;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            bottom: 90px;
            left: 255px;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0.2s, opacity 0.5s linear;
            
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: -26px;
                border-top: 13px solid $dark-grayish-blue;
                border-right: 13px solid transparent;
                border-left: 13px solid transparent;
                border-bottom: 13px solid transparent;
            }   

            &--active {
                visibility: visible;
                opacity: 1;
            }
        }

        &__icons {
            margin-left: 0;
        }
    }

    .btn {
        transition: background-color 0.3s ease-out;

        &:hover {
            background-color: $grayish-blue;
        }
    }

    .attribution {
        margin-top: 12rem;
    }
}